<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.nothing.ketchum" />
    <!-- İZİNLER -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Nothing Phone izni (Kütüphane eklenirse lazım olur) -->
    <!-- NOTHING MATRIX İZNİ (Bunu kontrol et!) -->
    <uses-permission android:name="com.nothing.ketchum.permission.ENABLE" />
    <!-- DONANIM ÖZELLİKLERİ -->
    <!-- DÜZELTME: Bu satırın sonuna /> koyarak kapattık -->
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <!-- SORGULAR -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="image/*" />
        </intent>
    </queries>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HeyCam">

        <!-- ANA KAMERA EKRANI -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"  android:theme="@style/Theme.HeyCam">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LUT YÖNETİCİSİ -->
        <!-- DÜZELTME: Yarım kalan satırlar tamamlandı ve kapatıldı -->
        <activity
            android:name=".LutManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <!-- FRAME YÖNETİCİSİ -->
        <activity
            android:name=".FrameManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />


    </application>

</manifest>